---
import Footer from '@layouts/Footer.astro';
import DefaultDocsLandingPage from '@layouts/CustomDocsPageLayout.astro';
import components from '@components/MDX/page-components';
import { getIndexPage } from '@utils/pages';
import VerticalSideBarLayout from '@layouts/VerticalSideBarLayout.astro';

const page = await getIndexPage();
let CustomContent = null;

if (page) {
  const { Content } = await page.render();
  CustomContent = Content;
}
---

{
  CustomContent && (
    <VerticalSideBarLayout title="EventCatalog">
      <main class="py-8 px-8">
        <div class="prose prose-md w-full !max-w-none">
          <CustomContent components={components} />
        </div>
        <Footer />
      </main>
    </VerticalSideBarLayout>
  )
}

{!CustomContent && <DefaultDocsLandingPage title="EventCatalog" />}
