__fixtures__
dist
node_modules
.yarn
build
coverage
jest.config.js
jest.transform.js
scripts
examples/
.next
out/
.docusaurus

website/docusaurus.config.js
packages/eventcatalog/tailwind.config.js
packages/eventcatalog/eventcatalog.config.js
packages/eventcatalog/bin/*
packages/create-eventcatalog/helpers/*
packages/eventcatalog-*/lib/*