.astro/
.vscode/
.github/
dist/
examples/
node_modules/
eventcatalog.config.js
eventcatalog.styles.css
README.md
bin/
scripts/
tsup.config.js
vitest.config.ts

# EventCatalog files that get overridden / not used in npm package
__tests__/
/src/content/*
!/src/content/config.ts
/public/generated/*
/src/catalog-files/*

Dockerfile
.dockerignore

# e2e
e2e/
playwright.config.ts