dist
node_modules
.astro/
dist
eventcatalog.config.js
examples/

packages/core/test-results/
packages/core/eventcatalog/public/ai/
packages/core/eventcatalog/public/generated/
packages/core/eventcatalog/src/custom-defined-components/
