---

---

<div class="accordian-group border border-gray-200 rounded-md shadow-sm accordion my-2">
  <slot />
</div>

<style is:global>
  .accordian-group .accordion {
    border: none;
    border-bottom: 1px solid #e2e8f0;
  }
</style>
