---
import type { CollectionEntry } from 'astro:content';
import * as path from 'path';
import fs from 'node:fs';

import { getEvents } from '@utils/events';
import { getServices } from '@utils/services/services';
import { getCommands } from '@utils/commands';
import { getDomains } from '@utils/domains/domains';
import type { CollectionTypes } from '@types';
import PlainPage from '@layouts/PlainPage.astro';
import { DocumentMinusIcon } from '@heroicons/react/24/outline';
import { buildUrl } from '@utils/url-builder';

export async function getStaticPaths() {
  const events = await getEvents();
  const commands = await getCommands();
  const services = await getServices();
  const domains = await getDomains();

  const hasOpenAPISpec = (item: CollectionEntry<CollectionTypes>) => item.data.specifications?.openapiPath !== undefined;

  const buildPages = (collection: CollectionEntry<CollectionTypes>[]) => {
    const filteredCollection = collection.filter(hasOpenAPISpec);

    return filteredCollection.map((item) => ({
      params: {
        type: item.collection,
        id: item.data.id,
        version: item.data.version,
      },
      props: {
        type: item.collection,
        ...item,
      },
    }));
  };

  return [...buildPages(domains), ...buildPages(events), ...buildPages(services), ...buildPages(commands)];
}

// @ts-ignore
const { data, catalog } = Astro.props;
const fileName = data.specifications?.openapiPath || 'openapi.yml';
const pathToSpec = path.join(catalog.publicPath, fileName);
const pathOnDisk = path.join(process.cwd(), 'public', pathToSpec);
const fileExists = fs.existsSync(pathOnDisk);
---

<PlainPage title="OpenAPI Spec">
  {
    !fileExists ? (
      <div class="text-center h-screen  flex flex-col justify-center ">
        <DocumentMinusIcon className="mx-auto h-12 w-12 text-gray-400" />
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No OpenAPI spec file found</h3>
        <p class="mt-1 text-xs text-gray-400">
          Could not find OpenAPI file for {data.name} in {`/${catalog.path}`}
        </p>
      </div>
    ) : (
      <rapi-doc
        spec-url={buildUrl(pathToSpec, true)}
        show-header="false"
        allow-authentication="true"
        allow-try="true"
        style={{ height: '100vh', width: '100%' }}
        class="py-4"
        regular-font="ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji"
        schema-style="table"
        default-schema-tab="schema"
        bg-color="#ffffff" 
        text-color="" 
        nav-bg-color="#fafafa" 
        nav-text-color="" 
        nav-hover-bg-color="#ffebea" 
        nav-hover-text-color="#9b0700" 
        nav-accent-color="" 
        primary-color="#F63C41" 
        theme="light" 
        render-style="read"
      />
    )
  }
</PlainPage>

<script>
  // @ts-ignore
  await import('rapidoc');
</script>

<style>
  rapi-doc::part(section-servers) {
    /* <<< targets the server div */
    background: #6b5b95;
    color: #d1c2e4;
    margin: 0 24px 0 24px;
    border-radius: 5px;
  }
  rapi-doc::part(label-selected-server) {
    /* <<< targets selected server label */
    color: #fff;
  }
</style>
