---
import Header from '../components/Header.astro';
import SEO from '../components/Seo.astro';
import SideNav from '../components/SideNav.astro';
import Resizable from '../components/Resizable.tsx';

interface Props {
  title: string;
  sidebar?: boolean;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={`EventCatalog | ${title}`} description={description} ogTitle={title} />
    <style is:global>
      .tooltip {
        visibility: hidden;
        position: absolute;
      }
      .has-tooltip:hover .tooltip {
        visibility: visible;
        z-index: 100;
      }
    </style>
  </head>
  <body>
    <Header />
    <Resizable client:load showSubSideNav={Astro.slots.has('sub-side-nav')}>
      <SideNav slot="sideNav" />
      <slot name="sub-side-nav" slot="subSideNav" />
      <main class="w-full h-[calc(100vh-theme(spacing.header))] overflow-auto" id="content">
        <slot />
      </main>
    </Resizable>
  </body>
</html>
<script>
  // Listen for Astro transititions
  document.addEventListener('astro:page-load', () => {
    document.dispatchEvent(new CustomEvent('contentLoaded'));
  });

  // Listen for DOM loaded
  document.addEventListener('DOMContentLoaded', () => {
    document.dispatchEvent(new CustomEvent('contentLoaded'));
  });

  document.addEventListener('contentLoaded', () => {
    // Users can add ?embed=true to the URL to hide the navigation
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const embeded = params.embed === 'true' ? true : false;
    const content = document.getElementById('content');

    if (embeded) {
      const elementsToHide = [
        'eventcatalog-vertical-nav',
        'sidebar',
        'eventcatalog-header',
        'eventcatalog-header-spacer',
        'visualiser-footer',
        // /discover page elements
        'discover-collection-tabs',
        'discover-title',
      ];

      elementsToHide.forEach((id) => {
        const element = document.getElementById(id);
        if (element) element.style.display = 'none';
      });

      if (content) content.style.height = '100%';

      return;
    } else {
      if (content) content.style.height = '';
    }
  });
</script>
