---
import { ClientRouter } from 'astro:transitions';
import VerticalSideBarLayout from './VerticalSideBarLayout.astro';
import SubSideNav, { getVisualizerSubSideNavProps } from '@components/SubSideNav.astro';

const { title, description } = Astro.props;

const subSideNavProps = await getVisualizerSubSideNavProps();
---

<VerticalSideBarLayout title={title} description={description}>
  <SubSideNav slot="sub-side-nav" {...subSideNavProps} />
  <div class="">
    <div class="">
      <main class="flex-1 h-full w-full relative">
        <slot />
      </main>
    </div>
  </div>
  <ClientRouter />
</VerticalSideBarLayout>

<style>
  #visualiser-navigation {
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    transform: translateX(0);
    opacity: 1;
  }
  #visualiser-navigation.hidden {
    transform: translateX(-100%);
    opacity: 0;
  }
  main {
    transition: margin-left 0.3s ease-in-out;
  }
</style>
