---
import type { HTMLAttributes } from 'astro/types';
import CatalogResourcesSideBar from './CatalogResourcesSideBar';
import { getCatalogResources } from './CatalogResourcesSideBar/getCatalogResources';

interface Props extends Omit<HTMLAttributes<'div'>, 'children'> {}

const currentPath = Astro.url.pathname;

const sideNav = await getCatalogResources({ currentPath });
---

<div {...Astro.props}>
  <CatalogResourcesSideBar resources={sideNav} currentPath={currentPath} client:load />
</div>
