---
import NodeGraph from '@components/MDX/NodeGraph/NodeGraph.astro';
import { ClientRouter } from 'astro:transitions';
import VerticalSideBarLayout from '@layouts/VerticalSideBarLayout.astro';
---

<VerticalSideBarLayout title={`Visualiser | Bounded context map`}>
  <div class="bg-gray-100/50 m-4">
    <div
      class="h-[calc(100vh-130px)] w-full relative border border-gray-200"
      id={`domain-context-map-portal`}
      transition:animate="fade"
    >
    </div>
    <NodeGraph
      id="domain-context-map"
      collection="domain-context-map"
      title="Bounded context map"
      mode="full"
      linkTo="visualiser"
      version="1.0.0"
      linksToVisualiser={false}
      href={{
        label: ``,
        url: '/',
      }}
    />
  </div>
  <ClientRouter />
</VerticalSideBarLayout>
