# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# EventCatalog files
src/content/*
!src/content/config.ts
public/generated/*
src/catalog-files/*
src/custom-defined-components/*
src/snippets/*

eventcatalog.config.js
eventcatalog.styles.css

src/generated-ai/*

src/pages/api/server/*
src/pages/api/chat.ts
src/pages/api/[...auth].ts
