---
interface Props {
  title: string;
}

import Footer from '@layouts/Footer.astro';
import Header from '@components/Header.astro';
import SideBar from '@components/DocsNavigation.astro';
import { buildUrl } from '@utils/url-builder';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={buildUrl('/favicon.ico', true)} />
    <meta name="generator" content={Astro.generator} />
    <title>EventCatalog</title>
  </head>
  <body>
    <div class="px-10 max-w-[120em] mx-auto">
      <Header />

      <div class="md:pt-4">
        <nav class="hidden sm:flex grow w-56 xl:w-[19em] fixed overflow-y-auto h-full py-2">
          <div class="w-full">
            <SideBar />
          </div>
        </nav>

        <div class="pl-0 sm:pl-56 xl:pl-80 w-full pt-8 pb-40">
          <div class="prose prose-sm">
            <div class="bg-white">
              <div class="mx-auto max-w-7xl">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                  <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-0">EventCatalog</h1>
                  <div class="grid max-w-xl grid-cols-1 md:gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-1">
                    <div>
                      <p>
                        Welcome to <a href="https://www.eventcatalog.dev/">EventCatalog</a>.
                      </p>
                      <p>
                        This open-source project is designed to help you and your teams bring discoverability and clarity to your
                        event-driven architectures (EDA).
                      </p>
                      <p>
                        To get started you can read the following guides:
                        <ul>
                          <li>
                            <a
                              class="text-purple-500"
                              href="https://eventcatalog.dev/docs/development/getting-started/introduction"
                              >Getting started with EventCatalog</a
                            >
                          </li>
                          <li>
                            <a
                              class="text-purple-500"
                              href="https://eventcatalog.dev/docs/development/guides/domains/adding-domains">Creating domains</a
                            >
                          </li>
                          <li>
                            <a
                              class="text-purple-500"
                              href="https://eventcatalog.dev/docs/development/guides/services/adding-services"
                              >Creating services</a
                            >
                          </li>
                          <li>
                            <a
                              class="text-purple-500"
                              href="https://eventcatalog.dev/docs/development/guides/messages/commands/introduction"
                              >Creating commands</a
                            >
                          </li>
                          <li>
                            <a
                              class="text-purple-500"
                              href="https://eventcatalog.dev/docs/development/guides/messages/events/introduction"
                              >Creating events</a
                            >
                          </li>
                          <li>
                            <a class="text-purple-500" href="https://eventcatalog.dev/docs/owners"
                              >Assigning owners to resources</a
                            >
                          </li>
                          <li>
                            <a
                              class="text-purple-500"
                              href="https://eventcatalog.dev/docs/development/components/using-components"
                              >Using components in your pages (Schemas, OpenAPI, etc)</a
                            >
                          </li>
                          <li>
                            <a class="text-purple-500" href="https://eventcatalog.dev/docs/development/deployment"
                              >Deploying and hosting your EventCatalog</a
                            >
                          </li>
                        </ul>
                      </p>
                      <h3>Join the community</h3>
                      <p>
                        Got questions about EventCatalog? Feature requests or need support? <a
                          class="text-purple-500"
                          href="https://discord.gg/3rjaZMmrAm">Join our community on Discord.</a
                        >
                      </p>
                      <h3>Enterprise support</h3>
                      <p>
                        Using EventCatalog and needs enterprise support? Work with us, find out what we offer on our <a
                          class="text-purple-500"
                          href="https://eventcatalog.dev/enterprise">enterprise page</a
                        >.
                      </p>
                    </div>
                  </div>

                  <Footer />
                </div>
              </div>
            </div>

            <!-- <slot /> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  .prose {
    max-width: none;
  }
</style>
