name: Redeploy EventCatalog Examples on core release

on:
  push:
    tags:
      - core@*

jobs:
  redeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Redeploy EventCatalog Finance Example Catalog
        run: curl -f -X POST "$VERCEL_DEPLOY_HOOK_URL"
        env:
          VERCEL_DEPLOY_HOOK_URL: ${{ secrets.VERCEL_DEPLOY_HOOK_FINANCE_EXAMPLE_CATALOG_URL }}