name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'pnpm'

      - name: Install deps
        run: pnpm i

      - name: Create .npmrc for GitHub Packages
        run: |
          cat <<EOF > ~/.npmrc
          @nhsdigital:registry=https://npm.pkg.github.com
          //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
          always-auth=true
          registry=https://registry.npmjs.org/
          EOF
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@master
        with:
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
