# Make sure the EventCatalog can build OK
name: Verify Build

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  build-cli:
    name: Build cli
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'pnpm'
      - name: Installation
        run: pnpm i
      - name: Test
        run: pnpm run test:ci
      - name: Build cli
        run: pnpm run build:bin
      - name: Package
        run: pnpm pack
      - name: Rename package artifact
        run: mv *.tgz package.tgz # Rename to a consistent name
      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: nhso-eventcatalog-core-package-artifact
          path: package.tgz

  build-eventcatalog:
    name: Build EventCatalog
    timeout-minutes: 10
    needs: build-cli
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          name: nhso-eventcatalog-core-package-artifact
      - name: Install @nhsdigital/nhso-eventcatalog-core
        working-directory: examples/default/
        run: npm install ../../package.tgz
      - name: Build EventCatalog
        working-directory: examples/default/
        run: npx @nhsdigital/nhso-eventcatalog-core build
