# Make sure the EventCatalog can build OK
name: Verify Build

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  build-and-test:
    name: Build and Test All Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'pnpm'
      - name: Installation
        run: pnpm i
      - name: Turbo Cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}-
      - name: Test All Packages
        run: pnpm run test:ci
      - name: Build All Packages
        run: pnpm run build:bin
      - name: Package SDK
        run: pnpm pack
        working-directory: packages/sdk
      - name: Package Core
        run: pnpm pack
        working-directory: packages/core
      - name: Rename package artifacts
        run: |
          mv packages/sdk/*.tgz sdk-package.tgz
          mv packages/core/*.tgz core-package.tgz
      - name: Upload package artifacts
        uses: actions/upload-artifact@v4
        with:
          name: eventcatalog-packages-artifact
          path: |
            sdk-package.tgz
            core-package.tgz

  build-eventcatalog:
    name: Build EventCatalog
    timeout-minutes: 10
    needs: build-and-test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          name: eventcatalog-packages-artifact
      - name: Install @eventcatalog packages
        working-directory: examples/default/
        run: |
          npm install ../../sdk-package.tgz
          npm install ../../core-package.tgz
      - name: Build EventCatalog
        working-directory: examples/default/
        run: npx eventcatalog build
      - name: Check build size
        if: matrix.os == 'ubuntu-latest'
        run: node packages/core/scripts/check-build-size.js
        env:
          SIZE_THRESHOLD: 5
